asgiref==3.5.2
certifi==2022.9.24
crispy-bootstrap5==0.6
dj-database-url==1.2.0
dj-email-url==1.0.6
Django==4.1
django-cache-url==3.4.4
django-crispy-forms==1.13.0
environs==9.5.0
gunicorn==20.1.0
marshmallow==3.19.0
packaging==22.0
pip==22.3.1
psycopg2==2.9.5
python-dotenv==0.21.0
python-http-client==3.3.7
sendgrid==6.9.7
setuptools==65.5.0
sqlparse==0.4.3
starkbank-ecdsa==2.2.0
wheel==0.37.1
whitenoise==6.2.0