{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}

{% if user.is_authenticated %}


Hi {{ user.first_name }}! You are {{user.pk}}. Your salon Name is {{user.salon}} You have {{appointments_list|length}} appointments!!
<H1>Calendar</h1>
<body>
  <div id="root"></div>
  <script src="{% static 'js/MyCalendar.js' %}"></script>

</body>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne">
        Confirmed Appointments {{con}}
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {%for appointment in appointments_list%}
        {%if appointment.confirmed %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{appointment.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{appointment.date}}</h6>
            <p class="card-text">{{appointment.salon}}</p>
            <a href="{%url 'appointment_delete' appointment.pk%}" class="card-link">Delete</a>
            <a href="{%url 'appointment_edit' appointment.pk%}" class="card-link">Reschedule</a>
          </div>
        </div>
        {%endif%}
        {%endfor%}
      </div>
    </div>
  </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingTwo">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
      aria-expanded="false" aria-controls="collapseTwo">
      Unconfirmed Appointments {{notcon}}
    </button>
  </h2>
  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
    data-bs-parent="#accordionExample">
    <div class="accordion-body">
      {%for appointment in appointments_list%}
        {%if not appointment.confirmed %}
        <div class="card clickable" style="width: 18rem;">
          <div class="card-body">
            <a href="{% url 'appointment_detail' appointment.pk%}" class="h5-link"><h5 class="card-title">{{appointment.title}}</h5></a>
            <h6 class="card-subtitle mb-2 text-muted">{{appointment.date}}</h6>
            <p class="card-text">{{appointment.salon}}.</p>
            <form action="{% url 'appointment_home' appointment.pk%}" method="post">{% csrf_token %}
              <button type="submit" class="btn btn-outline-primary">Confirm</button>
          </form>
            <a href="{%url 'appointment_delete' appointment.pk%}" class="card-link">Reschedule</a>
            <a href="{%url 'appointment_edit' appointment.pk%}" class="card-link">Reschedule</a>
            <style>
              .h5-link {
                text-decoration: none;
                color: inherit;
              }
            </style>
          </div>
        </div>
        {%endif%}
        {%endfor%}
    </div>
  </div>
</div>
<div class="accordion-item">
</div>
</div>

{% else %}
<p>You are not logged in</p>
{% endif %}
{% endblock content %}